/*Inter-Schrift importieren und definieren*/
@font-face {
    font-family: "Inter";
    src: url("../fonts/inter.ttf");
}

/*Variable definieren*/
:root {
    --green: #6CBF69;
    --creme: #F1E3C1;
    --gray: #808080;
    --lightgray: #D3D3D3;
    --red: #BF1F1F;
}

/*Generelle Einstellungen*/
::selection {
    background: var(--green);
    color: white;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

h1 {
    color: var(--green);
    font-size: 28px;
}

h2 {
    color: var(--green);
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

button {
    background-color: var(--green);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: .33s;
    border: 2px solid transparent;
    border-radius: 25px;
    font-size: 16px;
}

button:hover {
    background-color: transparent;
    color: var(--green);
    border: 2px solid var(--green);
}

.green_highlight {
    color: var(--green) !important;
    /*Important, weil Highlight Priorität über andere Stylings haben soll*/
}

.red_highlight {
    color: var(--red) !important;
    /*Important, weil Highlight Priorität über andere Stylings haben soll*/
}

/*Für jede Seite gleich*/

html,
body {
    min-height: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    flex: 1;
}

nav {
    padding: 10px 0px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
    /*Damit Nav beim Scrollen über anderen Element angezeigt wird*/
    width: 100%;
}

.nav_links {
    margin: 0 2%;
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    gap: 5px;
    height: 100%;
    padding: 0;
}

.nav_links li {
    display: flex;
    align-items: center;
}

.nav_links li a {
    color: black;
    text-decoration: none;
    transition: .33s;
    /*Damit es eine transition bei einem Hover gibt*/
}

.nav_links li a {
    font-size: 15px;
}

.nav_links li a:hover {
    color: var(--green);
}

.nav_logo {
    height: 30px;
    padding-right: 10px
}

footer {
    height: 120px;
    box-sizing: border-box;
    background-color: var(--green);
    display: flex;
    justify-content: space-between;
    padding: 30px 2%;
}

.footer_text {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer_text a {
    color: white;
}

.footer_text a:hover {
    color: var(--creme)
}

.footer_logos {
    display: flex;
    align-items: center;
    gap: 10px;
}

.rounded_logo {
    height: 100%;
}

.download_logos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.download_logos img {
    height: 40%;
}

/*Ab hier für index.html*/

/*Bild unterhalb von Header*/
.entry_image {
    position: relative;
    height: 300px;
}

.entry_image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.entry_text {
    position: absolute;
    bottom: 40px;
    left: 30px;
}

.entry_text h1 {
    text-shadow: 1px 1px 25px #141414;
}

.entry_text h2 {
    margin-bottom: 30px;
    text-shadow: 1px 1px 25px #141414;
}

.a_button {
    background-color: var(--green);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: .33s;
    border: 2px solid transparent;
    border-radius: 25px;
}

.a_button:hover {
    background-color: transparent;
    color: var(--green);
    border: 2px solid var(--green);
}

/*Info-Section*/
.info_creme {
    background-color: var(--creme);
    padding: 8% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.info_creme_thanks {
    background-color: var(--creme);
    padding: 10%;
    text-align: center;
}

.info_white {
    background-color: white;
    padding: 10% 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
}

.key_facts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.key_facts p {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--creme);
    padding: 10px 2px;
    font-weight: bold;
    border-radius: 10px;
}

.values {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.single_value {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.single_value img {
    width: 100%;
}

/*Function*/
.main_function {
    padding: 5% 3%;
}

.function {
    background-color: white;
    padding: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.step {
    background-color: var(--lightgray);
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
    border-radius: 30px;
    padding: 10px;
    position: relative;
}

.step img {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 0 -25px -25px;
    width: 80px;
}

.step h1 {
    font-size: 60px;
}

.step_text {
    margin: 15px;
}

.step p {
    margin-top: 10px;
}

/*Business*/
.main_business {
    padding: 0 15px;
}

.entry_image_subpage {
    position: relative;
    height: 150px;
}

.entry_image_subpage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.subpage_header {
    color: white;
    width: 80%;
    padding: 10px;
    background: linear-gradient(90deg, rgba(106, 111, 105, 0.8) 60%, rgba(203, 213, 201, 0) 100%);
    position: absolute;
    bottom: 30px;
}

.text_business {
    margin: 30px 0;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.interview_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--creme);
    margin: 40px 0;
    border-radius: 40px;
    gap: 20px;
}

.portrait {
    width: 50%;
    margin-top: 20px;
    border-radius: 25px;
}

.textbox {
    width: 80%;
    padding-bottom: 40px;
}

/*About us*/
.text_creme {
    background-color: var(--creme);
    padding: 8% 4%;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.title_person {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 0px;
}

.about_white {
    background-color: white;
}

.about_creme {
    background-color: var(--creme);
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4%;
    text-align: center;
}

.about_us_img {
    width: 30%;
}

.person_description {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Contact */
.main_contact {
    background-color: var(--creme);
}

.form {
    padding: 8% 10%;
}

.p_info_form {
    color: var(--gray);
    font-size: 12px;
    font-weight: light;
    padding-left: 2%;
}

input[type=text] {
    background-color: var(--lightgray);
    padding: 2% 2%;
    width: 100%;
    margin: 2% 2%;
    box-sizing: border-box;
    border: none;
}

label {
    padding-left: 2%;
}

form button {
    margin: 15px 0 0 2%;
}


@media(min-width: 700px) {

    /*Generelle Einstellungen*/
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 25px;
    }

    .nav_links {
        gap: 10px;
    }

    .nav_links li a {
        font-size: 20px;
    }


    /*Info-Section*/
    .info_white {
        padding: 10% 15%;
    }

    .key_facts {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .values {
        flex-direction: row;
        justify-content: center;
    }

    .single_value {
        width: 30%;
    }

    .single_value img {
        width: 50%;
    }

    /*Function*/
    .step img {
        width: 100px;
    }

    .step h1 {
        font-size: 80px;
    }

    .step_text {
        margin: 40px;
    }

    .step p {
        margin-top: 15px;
    }

    /*Business*/
    .entry_image_subpage {
        height: 200px;
    }

    .subpage_header {
        bottom: 40px;
    }

    .interview_card {
        flex-direction: row;
        margin: 20px 0;
        padding: 0 20px;
    }

    .portrait {
        margin: 20px 0;
        width: 25%;
    }

    .textbox {
        padding: 20px 0;
    }

    /*About us*/
    .about {
        flex-direction: row;
        padding: 0% 4%;
    }

    .about_us_img {
        width: 50%;
    }
}

@media(min-width: 1000px) {

    /*Generelle Einstellungen*/
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 50px;
    }

    h3 {
        font-size: 45px;
    }

    button {
        font-size: 20px;
    }

    p,
    a {
        font-size: 20px;
    }

    /*Für jede Seite gleich*/
    .nav_links {
        gap: 20px;
    }

    .nav_logo {
        height: 50px;
    }

    footer {
        height: 150px;
    }

    .footer_logos {
        gap: 30px;
    }

    /*Bild unterhalb von Header*/
    .entry_image {
        height: 600px;
    }

    .entry_text {
        bottom: 70px;
        left: 60px;
    }

    .entry_text a {
        font-size: 20px;
    }

    /*Info-Section*/
    .info_white {
        padding: 7% 10%;
        gap: 100px;
    }

    .key_facts {
        gap: 40px;
    }

    .key_facts p {
        font-size: 30px;
        height: 100px;
        width: 250px;
        padding: 20px 10px;
        border-radius: 10%;
    }

    .values {
        width: 90%;
        justify-content: space-between;
    }

    .single_value img {
        width: 70%;
    }

    /*Function*/
    .function {
        padding: 8% 15%;
        gap: 50px;
    }

    .step {
        gap: 30px;
        padding: 20px;
    }

    .step img {
        width: 120px;
    }

    .step h1 {
        font-size: 80px;
    }

    .step_text {
        margin: 60px;
    }

    .step p {
        margin-top: 20px;
    }

    /*Business*/
    .main_business {
        padding: 0 2%;
    }

    .entry_image_subpage {
        height: 300px;
    }

    .subpage_header {
        bottom: 50px;
    }

    .text_business {
        margin: 40px 0;
    }

    .interview_card {
        flex-direction: row;
        margin: 50px 0;
        padding: 2%;
    }

    .portrait {
        margin: 20px;
    }

    .textbox {
        margin: 0 20px;
    }

    .textbox p {
        margin-top: 10px;
    }

    /*About Us*/
    .about_us_img {
        width: 60%;
    }
}