/*Inter-Schrift importieren und definieren*/
@font-face {
    font-family: "Inter";
    src: url("../fonts/inter.ttf");
}

/*Variable definieren*/
:root {
    --green: #6CBF69;
    --creme: #F1E3C1;
    --gray: #808080;
    --lightgray:#D3D3D3;
}

/*Generelle Einstellungen*/
::selection {
    background: var(--green);
    color: white;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

h1 {
    color: var(--green);
    font-size: 28px;
}

h2 {
    color: var(--green);
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h4 {
    color: var(--gray);
    font-size:12px;
    font-weight: light;
}

button {
    background-color: var(--green);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: .33s;
    border: 2px solid transparent;
    border-radius: 25px;
    font-size: 16px;
}

button:hover {
    background-color: transparent;
    color: var(--green);
    border: 2px solid var(--green);
}

.highlight {
    color: var(--green);
}

/*F端r jede Seite gleich*/

html,
body {
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    padding: 10px 0px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    /*Damit Nav beim Scrollen 端ber anderen Element angezeigt wird*/
    width: 100%;
}

.nav_links {
    margin: 0 2%;
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    gap: 10px;
    height: 100%;
    padding: 0;
}

.nav_links li {
    display: flex;
    align-items: center;
}

.nav_links li a {
    color: black;
    text-decoration: none;
    transition: .33s;
    /*Damit es eine transition bei einem Hover gibt*/
}

.nav_links li a:hover {
    color: var(--green);
}

.nav_logo {
    height: 30px;
    padding-right: 10px
}

footer {
    height: 120px;
    box-sizing: border-box;
    background-color: var(--green);
    display: flex;
    justify-content: space-between;
    padding: 30px 2%;
}

.footer_text {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer_text a {
    color: white;
}

.footer_text a:hover {
    color: var(--creme)
}

.footer_logos {
    display: flex;
    align-items: center;
    gap: 10px;
}

.rounded_logo {
    height: 100%;
    border-radius: 10%;
}

.download_logos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.download_logos img {
    height: 40%;
}

/*Ab hier f端r index.html*/

/*Bild unterhalb von Header*/
.entry_image {
    position: relative;
    height: 300px;
}

.entry_image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.entry_text {
    position: absolute;
    bottom: 40px;
    left: 30px;
}

.entry_text h2 {
    margin-bottom: 30px;
}

.entry_text a {
    background-color: var(--green);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: .33s;
    border: 2px solid transparent;
    border-radius: 25px;
}

.entry_text a:hover {
    background-color: transparent;
    color: var(--green);
    border: 2px solid var(--green);
}

/*Info-Section*/
.info_creme {
    background-color: var(--creme);
    padding: 8% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.info_white {
    background-color: white;
    padding: 10% 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
}

.key_facts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.key_facts p {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--creme);
    padding: 10px 2px;
    font-weight: bold;
    border-radius: 10%;
}

.values {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.single_value {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.single_value img {
    width: 100%;
}

@media(min-width: 700px) {

    /*Generelle Einstellungen*/
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 25px;
    }


    /*Info-Section*/
    .info_white {
        padding: 10% 15%;
    }

    .key_facts {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .values {
        flex-direction: row;
        justify-content: center;
    }

    .single_value {
        width: 30%;
    }

    .single_value img {
        width: 50%;
    }
}

@media(min-width: 1000px) {

    /*Generelle Einstellungen*/
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 50px;
    }

    h3 {
        font-size: 45px;
    }

    button {
        font-size: 20px;
    }

    p,
    a {
        font-size: 20px;
    }

    /*F端r jede Seite gleich*/
    .nav_links {
        gap: 20px;
    }

    .nav_logo {
        height: 50px;
    }

    footer {
        height: 150px;
    }

    .footer_logos {
        gap: 30px;
    }

    /*Bild unterhalb von Header*/
    .entry_image {
        height: 600px;
    }

    .entry_text {
        bottom: 70px;
        left: 60px;
    }

    .entry_text a {
        font-size: 20px;
    }

    /*Info-Section*/
    .info_white {
        padding: 7% 10%;
        gap: 100px;
    }

    .key_facts {
        gap: 40px;
    }

    .key_facts p {
        font-size: 30px;
        height: 100px;
        width: 250px;
        padding: 20px 10px;
        border-radius: 10%;
    }

    .values {
        width: 90%;
        justify-content: space-between;
    }

    .single_value img {
        width: 70%;
    }
}
/* Contact */
.form{
    padding: 8% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20%;
    text-align: left;
}

input[type=text] {
    background-color: var(--lightgray); 
    padding: 2% 2%;
    width: 100%;
    margin: 2% 2%;
    box-sizing: border-box;
    border: none;
    
}

label{
    padding-left: 2%;
}

.einzug{
    padding-left: 2%;
}